@import "../Main/variables.css";

.wrapper {
  background-color: var(--color-surface);
  padding: 1rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-muted);
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-sm);
  color: var(--color-light);
}

CDinput {
  padding: 0.5rem;
  font-size: var(--font-size-base);
  background-color: var(--bg-dark);
  border: 1px solid var(--color-muted);
  border-radius: var(--border-radius);
}

.CDLabel {
  color: var(--color-light);
}
